/*event photo*/
/*.photo{
    width: '100%';
    height: '18vh';
}*/

/*defauult text color idk if working*/
.body{
    color: #3c3c3c;
}

/*host, date colors*/
span.name { 
    color:#0A6634;font-weight:bold;font-family:Helvetica;font-size:20 
}

/*event attend and save color and style*/
.event-btn {
    background-color: #006633;
    border: #fff;
}

/*Learn more button color and style*/
.learnmore-btn{
    color: #3c3c3c;
    display:flex;
    justify-content:center;
}

